* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(8, 8, 153), rgb(141, 31, 141));
}

img {
    max-width: 800px;
    /* max-height: 500px; */
    max-height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.397);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    padding: 35px;
    text-align: center;
    color: rgb(141, 31, 141);
    font-size: 10px;
    font-family: 'Pacifico', cursive;
}

h1 {
    max-width: 140px;
    background: linear-gradient(to top, rgba(8, 8, 153, 0.590), rgba(141, 31, 141, 0.590));
    color: #fff;
    border-radius: 60px;
    border: none;
}

label {
    margin-bottom: 8px;
    border: none;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 60px;
    border: none;
    background: rgba(255, 255, 255, 0.774);
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 60px;
    background: linear-gradient(to top, rgba(8, 8, 153, 0.590), rgba(141, 31, 141, 0.590));
    color: #fff;
    border: none;
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
}

.link-password {
    padding: 15px;
    font-size: 14px;
    text-decoration: none;
}

.sign-up {
    position: relative;
    font-size: 14px;
    left: 50%;
    top: 50%;
    transform: translate(-25%, 405%);
    text-decoration: none;
}

.container {
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image-container {
    width: auto;
    height: auto;
}

.image-container img {
    width: auto;
    height: 100%;
  }

.form-container {
    height: 400px;
    margin: 90px auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.777);
}

button:hover {
    background: linear-gradient(to bottom, rgba(8, 8, 153, 0.590), rgba(141, 31, 141, 0.590));
}

/* Media query para dispositivos com largura de tela até 768px (celulares) */
@media screen and (max-width: 768px) {
    body {
        width: 100vw;
        height: 103vh;
    }

    .image-container {
        position: absolute;
        width: 100vw;
        height: 100vh;
        text-align: center;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    .image-container img {
        width: 90%;
        height: 95%;
        object-fit: cover;
    }

    .form-container {
        width: 70%; /* Ajustar a largura do form-container para aproveitar melhor o espaço em telas menores */
        margin: 30% auto; /* Centralizar o form-container */
    }

    form {
        padding: 15px; /* Adicionar algum espaço interno ao formulário para melhor legibilidade */
    }

    header h1 {
        font-size: 1.5em; /* Ajustar o tamanho da fonte para telas menores */
        text-align: center; /* Centralizar o texto */
        margin-top: 10px; /* Adicionar um pouco de espaço superior para melhor estética */
    }

    button {
        width: 100%; /* Fazer o botão ocupar 100% da largura do form-container */
    }

    .sign-up {
        bottom: 10px; /* Ajustar a distância do fundo */
        right: 10px; /* Ajustar a distância da direita */
        font-size: 14px; /* Ajustar o tamanho da fonte se necessário */
    }
}
